<% include ./partials/header %>

<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="list-group list-group-flush">
                <a href="#" class="list-group-item list-group-item-action">Profile</a>
                <a href="#" class="list-group-item list-group-item-action">Progress</a>
                <a href="#" class="list-group-item list-group-item-action">Settings</a>
            </div>
        </div>
        <div class="col-9">
            <div class="jumbotron">
                <h2>CCG Boards</h2>
            </div>
            <h3>Boards Go Here</h3>
        </div>
    </div>
</div>

<% include ./partials/footer %>